.icon {
  transition: transform 0.3s ease;
  &--orientation-up {
    transform: rotate(180deg);
  }
  &--orientation-right {
    transform: rotate(270deg);
  }
  &--orientation-down {
    transform: rotate(0deg);
  }
  &--orientation-left {
    transform: rotate(90deg);
  }
}
