@use 'src/scss/variables' as *;

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  padding: 4px;
  border: 0;
  background-color: transparent;
  color: $white1;

  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: $warning;
  }
  &:disabled {
    background-color: $black3;
  }
}
