$bg1: #28293d;
$bg2: #2d2f45;
$bg3: #373951;
$bg4: #3e405b;

$primary: #0aa4e7;
$primary-light: #4ec1f3;
$primary-dark: #1766f9;

$border-radius: 8px;
$border-color: lighten($bg4, 10);

$white1: #ffffff;
$white2: #d4d4d8;
$white3: #3d3e50;
$black1: #000000;
$black2: #14141e;
$black3: #242537;

$warning: #c96074;
